.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e0f7fa; /* Light teal background color */
}

.home-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
}

.image-container {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.text-container {
    flex: 2;
    text-align: left;
}

.welcome-text {
    font-size: 1.5rem;
    color: #333;
    margin: 0;
    padding-left: 20px;
}

@media (max-width: 768px) {
    .home-content {
        flex-direction: column;
        text-align: center;
    }

    .image-container {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .welcome-text {
        padding-left: 0;
    }
}
